@font-face {
  font-family: Typometry Regular;
  src: url('./fonts/Typometry_Regular.ttf');
}

@font-face {
  font-family: Typometry Alternate;
  src: url('./fonts/Typometry_Alternate.ttf');
}

@font-face {
  font-family: Zhizn;
  src: url('./fonts/Zhizn.otf');
}

@font-face {
  font-family: Alexander;
  src: url('./fonts/Alexander.otf');
}

@font-face {
  font-family: Baron;
  src: url('./fonts/Baron_Neue_Bold.otf');
}

@font-face {
  font-family: Comfortaa;
  src: url('./fonts/Comfortaa-Regular.ttf');
}
